@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="example-wrapper">
        <section id="accueil">
            <div class="hero">
                <h1>
                    Welcome to our world of creativity and design
                </h1><br />
            </div>
        </section>
        <br /><br />
       

        <section id="portfolio">
            <div class="portfolio-gallery">
                <img src="~/Images/home.png"  width="100%" height="500"/>
            </div>
        </section>
    </div>

</div>
