@model ExamanApp.Models.Facture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class="col-sm-2">
            Project
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.NomProjet)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FactureId" class="btn btn-danger">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>